#blackmarket{
    -fx-background-image: url('../img/tiles/popup/blackmarket.png');
}

#blackmarket2{
    -fx-background-image: url('../img/tiles/popup/blackmarket2.png');
}

#blackmarket3{
    -fx-background-image: url('../img/tiles/popup/blackmarket3.png');
}

#blackmarket4{
    -fx-background-image: url('../img/tiles/popup/blackmarket4.png');
}
#fabricwarehouse{
    -fx-background-image: url('../img/tiles/popup/fabricwarehouse.png');
}
#fruitwarehouse{
    -fx-background-image: url('../img/tiles/popup/fruitwarehouse.png');
}
#spicewarehouse{
    -fx-background-image: url('../img/tiles/popup/spicewarehouse.png');
}
#teahouse{
    -fx-background-image: url('../img/tiles/popup/teahouse.png');
}
#teahouse2{
    -fx-background-image: url('../img/tiles/popup/teahouse2.png');
}
#teahouse3{
    -fx-background-image: url('../img/tiles/popup/teahouse3.png');
}
#teahouse4{
    -fx-background-image: url('../img/tiles/popup/teahouse4.png');
}
#greatmosque{
    -fx-background-image: url('../img/tiles/popup/greatmosque.png');
}
#smallmosque{
    -fx-background-image: url('../img/tiles/popup/smallmosque.png');
}
#gemstonedealer{
    -fx-background-image: url('../img/tiles/popup/gemstonedealer.png');
}
#wainwright{
    -fx-background-image: url('../img/tiles/popup/wainwright.png');
}
#largemarket{
    -fx-background-image: url('../img/tiles/popup/largemarket.png');
}
#smallmarket{
    -fx-background-image: url('../img/tiles/popup/smallmarket.png');
}





#fabric{
    -fx-background-image: url('../img/fabric.png');
}

#spice{
    -fx-background-image: url('../img/spices.png');
}

#fruit{
    -fx-background-image: url('../img/fruits.png');
}

#dices{
    -fx-background-image: url('../img/dices.png');
}

#sweet{
    -fx-background-image: url('../img/sweet.png');
}
#turnto4{
    -fx-background-image: url('../img/turnto4.png');
}
#accept{
    -fx-background-image: url('../img/accept.png');
}
#rerollboth{
    -fx-background-image: url('../img/rerollboth.png');
}
#cm{
    -fx-background-image: url('../img/confirmmovement.png');
}
#yes{
    -fx-background-image: url('../img/yes.png');
}

#no{
    -fx-background-image: url('../img/no.png');
}
#continue2{
    -fx-background-image: url('../img/continue2.png');
}
#neither{
    -fx-background-image: url('../img/neither.png');
}
#bluetile{
    -fx-background-image: url('../img/bluemosque.png');
}
#yellowtile{
    -fx-background-image: url('../img/yellowmosque.png');
}
#greentile{
    -fx-background-image: url('../img/greenmosque.png');
}
#redtile{
    -fx-background-image: url('../img/redmosque.png');
}
#sell{
    -fx-background-image: url('../img/sell.png');
}
#none{
    -fx-background-image: url('../img/none.png');
}




#fabric, #spice, #fruit, #dices, #sweet, #turnto4, #accept, #rerollboth, #yes, #no, #continue2, #neither, #bluetile, #yellowtile, #redtile, #greentile, #sell, #none{
    -fx-effect: dropshadow(three-pass-box, #000, 3, 0.005 , 0, 0);
    -fx-border-width: 0;
    -fx-background-color:transparent;
    -fx-background-radius:0;
    -fx-border-color:transparent;
}


#fabric:hover, #spice:hover, #fruit:hover, #dices:hover, #sweet:hover, #turnto4:hover, #accept:hover, #rerollboth:hover, #yes:hover, #no:hover, #continue2:hover, #neither:hover, #bluetile:hover, #yellowtile:hover, #redtile:hover, #greentile:hover, #sell:hover, #none:hover{
    -fx-scale-y: 1.08;
    -fx-scale-x: 1.08;
    -fx-cursor: hand;
}
#fabric:pressed, #spice:pressed, #fruit:pressed, #dices:pressed, #sweet:pressed, #turnto4:pressed, #accept:pressed, #rerollboth:pressed, #yes:pressed, #no:pressed, #continue2:pressed, #neither:pressed, #bluetile:pressed, #yellowtile:pressed, #redtile:pressed, #greentile:pressed, #sell:pressed, #none:pressed{
    -fx-scale-y: 0.96;
    -fx-scale-x: 0.96;
    -fx-cursor: hand;
}